@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* сброс */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* переменные */
/* код */
body {
  font-family: sans-serif;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: 100px 5fr 100px;
  grid-template-rows: 100px 5fr 100px;
  background-color: rgb(38, 44, 80);
  font-family: Montserrat;
  font-size: 16px;
}

#canvas {
  height: 100%;
}

.panel {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 31, 60);
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.panel .panel__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60vw;
}
.panel .panel__info > div {
  width: 240px;
  text-align: center;
}
.panel .panel__button-market {
  height: 46px;
  font-size: 16px;
  width: 200px;
  border: 2px solid rgb(179, 55, 207);
  background: transparent;
  color: rgb(255, 255, 255);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.panel .panel__button-inventory {
  height: 46px;
  font-size: 16px;
  width: 200px;
  border: 2px solid rgb(73, 130, 235);
  background: transparent;
  color: rgb(255, 255, 255);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.panel .inventory_active {
  left: 0px;
}
.panel .panel__button-market:hover {
  background-color: rgb(179, 55, 207);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.panel .panel__button-inventory:hover {
  background-color: rgb(73, 130, 235);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.panel .market {
  position: fixed;
  right: -500px;
  background-color: rgb(27, 31, 60);
  border-left: 2px solid rgb(179, 55, 207);
}
.panel .market_active {
  right: 0px;
}
.panel .block-moving {
  position: fixed;
  top: 100px;
  width: 500px;
  height: calc(100vh - 200px);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-size: 13px;
  /* opacity: 0.9; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.panel .block-moving .block-moving__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
.panel .block-moving .block-moving__tabs .block-moving__tab {
  cursor: pointer;
  width: 33.33%;
  text-align: center;
  padding: 20px 0 20px 0;
}
.panel .block-moving .block-moving__tabs .tabs-line {
  position: absolute;
  width: 33%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.panel .block-moving .block-moving__tabs .tabs-line-inv {
  background-color: rgb(73, 130, 235);
}
.panel .block-moving .block-moving__tabs .tabs-line-mark {
  background-color: rgb(179, 55, 207);
}
.panel .block-moving .tabs-content .tabs-content__block {
  display: none;
}
.panel .block-moving .tabs-content .tab-content-active {
  display: block;
}
.panel .block-moving .tabs-content .tabs-content__block__obj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 110px;
  border: 2px solid rgb(38, 44, 80);
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-icon {
  width: 50px;
  height: 50px;
  background-color: rgb(38, 44, 80);
  border-radius: 100%;
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-info {
  width: 60%;
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-info > h2 {
  font-size: 13px;
  font-weight: 700;
  margin: 0 0 4px 0;
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-Button > p {
  font-weight: 700;
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-Button .item-Button-inv {
  border: 2px solid rgb(179, 55, 207);
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-Button > .item-Button-inv:hover {
  background-color: rgb(179, 55, 207);
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-Button > button {
  padding: 6px 0;
  margin: 10px 0 0 0;
  width: 110px;
  color: rgb(255, 255, 255);
  background: transparent;
  border: 2px solid rgb(73, 130, 235);
}
.panel .block-moving .tabs-content .tabs-content__block__obj .item-Button > button:hover {
  background-color: rgb(73, 130, 235);
}
.panel .block-moving .tabs-content .equipped-item-inv {
  border: 2px solid rgb(73, 130, 235);
}
.panel .block-moving .border_color-mark:hover {
  border-bottom: 2px solid rgb(179, 55, 207);
  border-top: 2px solid rgb(179, 55, 207);
}
.panel .block-moving .border_color-inv:hover {
  border-bottom: 2px solid rgb(73, 130, 235);
  border-top: 2px solid rgb(73, 130, 235);
}

.inventory {
  position: fixed;
  left: -500px;
  background-color: rgb(27, 31, 60);
  border-right: 2px solid rgb(73, 130, 235);
}

.panel-below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.panel-below .panel-below__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}
.panel-below .panel-below__items .item__block > div {
  text-align: center;
}
.panel-below .panel-below__items .item__block .item-number {
  margin: 4px 0 0 0;
}
.panel-below .panel-below__items .item__block .item {
  width: 60px;
  height: 60px;
  border: 2px solid rgb(73, 130, 235);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 4px 0 0 0;
}
.panel-below .panel-below__items .item__block .item .item__block-coldown {
  position: absolute;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.panel-below .panel-below__items .item__block .item .item__block-coldown .coldown-stage {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: block;
}
.panel-below .panel-below__items .item__block .item .item__block-coldown .cooldown-stage-animation {
  -webkit-animation-name: cooldown-animation;
          animation-name: cooldown-animation;
}
@-webkit-keyframes cooldown-animation {
  from {
    width: 60px;
    height: 60px;
  }
  to {
    width: 60px;
    height: 0px;
  }
}
@keyframes cooldown-animation {
  from {
    width: 60px;
    height: 60px;
  }
  to {
    width: 60px;
    height: 0px;
  }
}
.panel-below .panel-below__items .item__block .item:hover {
  -webkit-box-shadow: 0 0 5px rgb(73, 130, 235);
          box-shadow: 0 0 5px rgb(73, 130, 235);
}