@charset "UTF-8";
/* сброс */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* переменные */
/* код */
body {
  font-family: sans-serif;
  display: -ms-grid;
  display: grid;
  height: 60vh;
  -ms-grid-rows: 100px 5fr 100px;
  grid-template-rows: 100px 5fr 100px;
  background-color: rgb(38, 44, 80);
}

header,
footer,
canvas {
  /* border:1px solid black; */
}

#canvas {
  height: 100%;
  /* width:100%;  */
  /* border:1px solid black;  */
}

.panel {
  color: white;
  background-color: rgb(27, 31, 60);
}