@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* сброс */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* переменные */

$color-accent: rgb(179, 55, 207);
$color-help: rgb(38, 44, 80);
$color-help_Second: rgb(27, 31, 60);
$color-text_white:white;

$font-medium:18px;
$font-small:14px;

/* код */

body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 5fr 100px;

    background-color: $color-help;
    font-family: Montserrat;
    font-size: $font-medium;
}

header,
footer,
canvas {
    /* border:1px solid black; */
}

#canvas {
    height: 100%;
    /* width:100%;  */
    /* border:1px solid black;  */
}

.panel {
    color: white;
    background-color: $color-help_Second;
    font-size: $font-small;

    display: flex;
    align-items: center;
    justify-content: space-between;


    .panel__info {
        display: flex;
        align-items: center;

        >div {
            margin: 0 4vw 0 4vw;
            width: 160px;
            text-align: center;
        }
    }


    .panel__button-market{
        height: 46px;
        font-size: $font-medium;
        width: 200px;

        margin: 0 6vw 0 0;
        border: 2px solid $color-accent;
        background: transparent;
        color: $color-text_white;

        transition-duration: 0.2s;
        
        cursor: pointer;
    }

    .panel__button-market:hover{
        background-color: $color-accent;
        transition-duration: 0.2s;
    }
}