


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* сброс */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* переменные */

$color-accent: rgb(179, 55, 207);
$color-accent_Second: rgb(73, 130, 235);
$color-help: rgb(38, 44, 80);
$color-help_Second: rgb(27, 31, 60);
$color-text_white: rgb(255, 255, 255);

$font-medium: 18px;
$font-small: 15px;
$font-verySmall: 11px;

/* код */

body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 5fr 100px;

    background-color: $color-help;
    font-family: Montserrat;
    font-size: $font-medium;
}



#canvas {
    height: 100%;
}

.panel {
    color: $color-text_white;
    background-color: $color-help_Second;
    font-size: $font-small;

    display: flex;
    align-items: center;
    justify-content: center;



    .panel__info {
        display: flex;
        justify-content: center;
        width: 60vw;

        >div {
            width: 240px;
            text-align: center;
        }
    }


    .panel__button-market {
        height: 46px;
        font-size: $font-medium;
        width: 200px;

        border: 2px solid $color-accent;
        background: transparent;
        color: $color-text_white;

        transition-duration: 0.2s;

        cursor: pointer;
    }

    .panel__button-inventory {
        height: 46px;
        font-size: $font-medium;
        width: 200px;

        border: 2px solid $color-accent_Second;
        background: transparent;
        color: $color-text_white;

        transition-duration: 0.2s;

        cursor: pointer;
    }

    .inventory_active {
        left: 0px;
    }

    .market_active {
        right: 0px;
    }

    .block-moving {
        position: fixed;
        top: 100px;
        width: 500px;
        height: calc(100vh - 200px);
        transition-duration: 0.2s;
        /* opacity: 0.9; */

        display: flex;
        flex-direction: column;

        .block-moving__tabs {
            display: flex;
            justify-content: space-around;

            .block-moving__tab {
                cursor: pointer;
                width: 33.33%;
                text-align: center;
                padding: 20px 0 20px 0;
            }


            .tab-active {
                border-bottom: 2px solid $color-accent;
            }
        }


        .market-tabObj-first__item {
            display: flex;
            align-items: center;
            justify-content: space-around;

            height: 110px;
            border: 2px solid $color-help;

            .item-icon {
                width: 50px;
                height: 50px;
                background-color: $color-help;
                border-radius: 100%;
            }

            .item-info {
                width: 60%;

                >h2 {
                    font-size: $font-small;
                    font-weight: 700;

                    margin: 0 0 4px 0;
                }
            }

            .item-priceButton {
                display: flex;
                align-items: center;
                flex-direction: column;

                >p {
                    font-weight: 700;
                }

                >button {
                    padding: 6px 20px;
                    margin: 10px 0 0 0;
                    color: $color-text_white;
                    background: transparent;
                    border: 2px solid $color-accent_Second;
                }

                >button:hover {
                    background-color: $color-accent_Second;
                }
            }
        }



        .market-tabObj-first__item:hover {
            border-bottom: 2px solid $color-accent;
            border-top: 2px solid $color-accent;
        }
    }
}

.inventory {
    position: fixed;
    left: -500px;
    background-color: $color-help_Second;
    border-right: 2px solid $color-accent_Second;
}

.market {
    position: fixed;
    right: -500px;
    background-color: $color-help_Second;
    border-left: 2px solid $color-accent;

    .market-tab-content{
        font-size: $font-verySmall;
        display: none;
    }

    .tab-content-active{
        display: block;
    }


    .panel__button-market:hover {
        background-color: $color-accent;
        transition-duration: 0.2s;
    }

    .panel__button-inventory:hover {
        background-color: $color-accent_Second;
        transition-duration: 0.2s;
    }
}


.panel-below {
    display: flex;

    .panel-below__items {
        display: flex;
        gap: 2vw;


        .item__block {
            >div {
                text-align: center;
                margin: 4px 0 0 0;
            }

            .item {
                width: 60px;
                height: 60px;
                border: 2px solid $color-accent_Second;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .item:hover {
                box-shadow: 0 0 5px $color-accent_Second;
            }
        }
    }
}
