@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* сброс */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* переменные */

$color-accent: rgb(179, 55, 207);
$color-accent_Second:rgb(73, 130, 235) ;
$color-help: rgb(38, 44, 80);
$color-help_Second: rgb(27, 31, 60);
$color-text_white: rgb(255, 255, 255) ;

$font-medium: 18px;
$font-small: 14px;

/* код */

body {
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 5fr 100px;

    background-color: $color-help;
    font-family: Montserrat;
    font-size: $font-medium;
}

header,
footer,
canvas {
    /* border:1px solid black; */
}



#canvas {
    height: 100%;
    /* width:100%;  */
    /* border:1px solid black;  */
}

.panel {
    color: $color-text_white;
    background-color: $color-help_Second;
    font-size: $font-small;

    display: flex;
    align-items: center;
    justify-content: center;
    


    .panel__info {
        display: flex;
        justify-content:center ;
        width: 60vw;

        >div {
            width: 240px;
            text-align: center;
        }
    }


    .panel__button-market {
        height: 46px;
        font-size: $font-medium;
        width: 200px;

        border: 2px solid $color-accent;
        background: transparent;
        color: $color-text_white;

        transition-duration: 0.2s;

        cursor: pointer;
    }

    .panel__button-inventory{
        height: 46px;
        font-size: $font-medium;
        width: 200px;

        border: 2px solid $color-accent_Second;
        background: transparent;
        color: $color-text_white;

        transition-duration: 0.2s;

        cursor: pointer;
    }

    .inventory{
        position: fixed;
        left: -400px;
        top: 100px;
    
        width: 400px;
        height: calc(100vh - 200px);
        background-color: $color-help_Second;
        border-right: 2px solid $color-accent_Second;
        /* opacity: 0.9; */
    
        transition-duration: 0.2s;
    }

    .inventory_active{
        left: 0px;
    }

    .market {
        position: fixed;
        right: -400px;
        top: 100px;
    
        width: 400px;
        height: calc(100vh - 200px);
        background-color: $color-help_Second;
        border-left: 2px solid $color-accent;
        /* opacity: 0.9; */
    
        transition-duration: 0.2s;

    }

    .market_active{
        right: 0px;
    }

    .panel__button-market:hover {
        background-color: $color-accent;
        transition-duration: 0.2s;
    }

    .panel__button-inventory:hover {
        background-color: $color-accent_Second;
        transition-duration: 0.2s;
    }



}